
*.vsidx

*.v2

*.config

*.bin

*.pdb

*.dll

.vs/NatechAssignment/v17/

*.exe

*.http

*.Up2Date

*.cache

*.targets

*.props

*.editorconfig

*.txt

*.BuildWithSkipAnalyzers

NatechAssignment/obj/project.assets.json

NatechAssignment/obj/NatechAssignment.csproj.nuget.dgspec.json

NatechAssignment/obj/Debug/net8.0/staticwebassets.build.json

NatechAssignment/obj/Debug/net8.0/NatechAssignment.sourcelink.json

Natech.Services/obj/project.assets.json

DataLayer/bin/Debug/net8.0/Natech.DataLayer.deps.json

DataLayer/bin/Debug/net8.0/Natech.DataLayer.runtimeconfig.json

DataLayer/obj/DataLayer.csproj.nuget.dgspec.json

DataLayer/obj/Debug/net8.0/Natech.DataLayer.sourcelink.json

DataLayer/obj/Natech.DataLayer.csproj.nuget.dgspec.json

DataLayer/obj/project.assets.json

Natech.BussinessLayer/bin/Debug/net8.0/Natech.BussinessLayer.deps.json

Natech.BussinessLayer/bin/Debug/net8.0/Natech.Services.deps.json

Natech.BussinessLayer/obj/Debug/net8.0/Natech.BussinessLayer.sourcelink.json

Natech.BussinessLayer/obj/Debug/net8.0/Natech.Services.sourcelink.json

Natech.BussinessLayer/obj/Natech.BussinessLayer.csproj.nuget.dgspec.json

Natech.BussinessLayer/obj/Natech.Services.csproj.nuget.dgspec.json

Natech.BussinessLayer/obj/project.assets.json

Natech.Common/bin/Debug/net8.0/Natech.Common.deps.json

Natech.Common/obj/Debug/net8.0/Natech.Common.sourcelink.json

Natech.Common/obj/Natech.Common.csproj.nuget.dgspec.json

Natech.Common/obj/project.assets.json

Natech.Services/bin/Debug/net8.0/Natech.Services.deps.json

Natech.Services/obj/Debug/net8.0/Natech.Services.sourcelink.json

Natech.Services/obj/Natech.Services.csproj.nuget.dgspec.json

NatechAssignment/bin/Debug/net8.0/appsettings.Development.json

NatechAssignment/bin/Debug/net8.0/appsettings.json

NatechAssignment/bin/Debug/net8.0/NatechAssignment.deps.json

NatechAssignment/bin/Debug/net8.0/NatechAssignment.runtimeconfig.json

NatechAssignment/NatechAssignment.csproj.user

NatechAssignment/obj/Debug/net8.0/NatechAssignment.AssemblyInfo.cs
